### SQL And SQLite

SQL(Structured Query Language) is a standard language managing and manipulating relational databases.

Basics of SQL and SQLite

In [2]:
import sqlite3

In [3]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               )
''')

## Commit the changes 
connection.commit()

In [6]:
cursor.execute('''
Select * from employees
''')

In [7]:
## Insert the data in sqlite table 
cursor.execute('''
Insert Into employees(name,age,department)
               values('Harshini',19,'A.I Developer')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Aryan',22,'SQL Developer')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Chandra Reddy',50,'Driver')
''')

##
connection.commit()

In [8]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Harshini', 19, 'A.I Developer')
(2, 'Aryan', 22, 'SQL Developer')
(3, 'Chandra Reddy', 50, 'Driver')

In [ ]:
https://meet.google.com/hxo-vkqa-hqx